{% extends 'base.html' %}
{% load static %}

{% block services_block %}





<section class="ftco-section">
<div class="container">
<div class="row justify-content-center mb-5 pb-5">
<div class="col-md-7 text-center heading-section ftco-animate">
<span>What I do</span>
<h2>My services</h2>
</div>
</div>
<div class="row">
<div class="col-md-4 d-flex align-self-stretch ftco-animate">
<div class="media block-6 services p-3 py-4 d-block text-center">
<div class="icon mb-3"><span class="icon-layers"></span></div>
<div class="media-body">
<h3 class="heading">Web Design</h3>
<h6 class="heading">I create stunnig design for webiste to represent your business attractive.</h6>
<!-- <h3 class="heading">Responsive Design</h3> -->
</div>
</div>
</div>
<div class="col-md-4 d-flex align-self-stretch ftco-animate">
<div class="media block-6 services p-3 py-4 d-block text-center">
<div class="icon mb-3"><span class="icon-code"></span></div>
<div class="media-body">
<h3 class="heading">Web Development</h3>
<h6 class="heading">I develop website for Business and E-commerce & manage Database & Hosting</h6>
</div>
</div>
</div>
<div class="col-md-4 d-flex align-self-stretch ftco-animate">
<div class="media block-6 services p-3 py-4 d-block text-center">
<div class="icon mb-3"><span class="icon-mobile-phone"></span></div>
<div class="media-body">
<h3 class="heading">Mobile Application</h3>
<h6 class="heading">I design & develop Android App iOS App</h6>
</div>
</div>
</div>
</div>
</div>
</section>



{% endblock services_block %}